.event-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Card takes up the full width of its parent */
}

.event-card img {
  width: 100%; /* Image takes up the full width of the card */
  object-fit: cover;
  border-radius: 10px;
}

.event-card-info {
  margin-top: 10px;
  width: 100%; /* Info section takes up the full width of the card */
  text-align: left; /* Align text to the left */
}

.event-card-info h3,
.event-card-info .venue,
.event-card-info .date-time {
  width: 100%; /* Ensure each text element takes up full width */
  text-align: left; /* Align text to the left */
}

.event-card-info h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.event-card-info .venue {
  color: navy;
  margin-bottom: 5px;
}

.event-card-info .date-time {
  color: red;
  margin-bottom: 5px;
}
