.manage-horses-layout {
    min-height: 100vh;
    display: flex;
  }
  
  .manage-horses-content {
    flex: 1;
    padding: 24px;
    background: #fff;
  }
  
  .input-row {
    margin-bottom: 16px;
    border-radius: 20px;
  }
  
  .paste-data-input {
    width: 100%;
    border-radius: 8px;
    overflow: auto;
    resize: inline-block;
  }
  

  .manage-horses-layout .input-row > :first-child {
    margin-bottom: 8px;
  }
  
  /* Increase the width of the input field for adding Show Classes */
  .manage-horses-layout .input-row > :first-child input {
    width: 100%;
  }
  
  /* Add some gap between Add and Download buttons */
  .manage-horses-layout .input-row > :nth-child(8) {
    margin-left: 16px;
  }
