/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  color: white;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  overflow-x: hidden;
  
}

body {
  margin-top: 60px;
}

.logo {
  max-width: 80px;
  height: auto;
  margin-left: 5px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  white-space: nowrap;
  gap: 0.3rem;
  margin-right: 20px;
  
}

.menu li {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 26px; /* Change font size to 22px */
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.navbar a svg {
  margin-right: 0.2rem;
  width: 20px; /* Change the icon size to 22px */
  height: 20px;
}

.menu a:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  z-index: -1;
}

.login {
  background: transparent;
  color: white;
  text-decoration: none;
  font-size: 22px; /* Change font size to 22px */
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  margin-right: 10px;
}

.login:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  z-index: -1;
}
