/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between; /* Push buttons to the right and logo to the left */
  align-items: center;
  background-color: navy;
  color: white;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap; /* Prevent button text from wrapping */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

body {
  margin-top: 60px;
}

.logo {
  max-width: 80px;
  height: auto;
  margin-left: 5px; /* Add margin to the left of the logo */
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  white-space: nowrap; /* Prevent button text from wrapping */
  gap: 0.3rem; /* Adjust the gap between buttons */
  margin-right: 20px; /* Add margin to the right of the buttons */
}

.menu li {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 11px; /* Decrease font size for smaller buttons */
  position: relative;
  display: flex;
  align-items: center; /* Center icon and text vertically */
  padding: 0.2rem; /* Adjust padding for better spacing */
}

.navbar a svg {
  margin-right: 0.2rem; /* Add space between icon and text */
  width: 12px; /* Decrease the icon size */
  height: 12px;
}

.menu a:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  z-index: -1;
}

.login {
  background: transparent;
  color: white;
  text-decoration: none;
  font-size: 11px; /* Decrease font size for smaller buttons */
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.3rem; /* Adjust padding for better spacing */
  margin-right: 10px; /* Add space to the right of the last button */
}

.login:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  z-index: -1;
}
