.user-management-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .table-container {

    width: 100%;
    margin-bottom: 20px;

  }
  
  .table-title {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .add-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .add-user-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    width: 300px;
  }
  
  .form-control {
    width: 100%;
  }
  
  .create-user-button {
    align-self: center;
  }
  
  .action-button {
    margin-left: 0;
  }
  .make-admin-button {
    margin-right: 10px;
  }
  .action-button-left {
    margin-right: 10px;
  }
  
  .action-button-right {
    margin-left: 10px;
  }

  .ant-table {
    max-height: 500px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .ant-table-pagination {
    margin-top: 10px; /* Add margin between tables */
  }


  